*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.dvi
*.ps
*.xdv
*.pdf
*.pdfsync

*.run.xml
*.bcf

*.i\dif x
*.ilg
*.ind

*.tmp
*~

*.backup
*.bak
*.swp
*.swo

*.nav
*.snm
*.vrb

*.comment
*.todo

_tmp*/
tmp*/

build/
_output/

*.pdf

*-converted-to.*

.git/
.svn/
.hg/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
*~
